
.dark input[type="text"], 
.dark input[type="number"], 
.dark input[type="email"], 
.dark input[type="search"],
.dark select {
  background-color: hsl(var(--dark-card)) !important; 
  color: hsl(var(--dark-foreground)) !important;
  border-color: hsl(var(--dark-border)) !important;
}

input[type="text"], 
input[type="number"], 
input[type="email"], 
input[type="search"],
select {
  background-color: hsl(var(--light-card)) !important;
  color: hsl(var(--light-foreground)) !important;
  border-color: hsl(var(--light-border)) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

.dark ::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

:focus-visible {
  @apply outline-2 outline-offset-2 outline-primary;
}
